<form [formGroup]="fg">

  <h1>Editace uživatele {{fg.value.id}}</h1>

  <div class="control">
    <label>
      jmeno:
    </label>
    <input formControlName="jmeno" name="jmeno">
  </div>

  <div class="control">
    <label>
      prijmeni:
    </label>
    <input formControlName="prijmeni" name="prijmeni">
  </div>

  <div class="control">
    <label>
      adresa:
    </label>
    <ngs-adresa formControlName="adresa"></ngs-adresa>
  </div>

  <br>
  <p>
    model formuláře: {{fg.value | json}}
  </p>

</form>
